<!DOCTYPE html>
<html>
    <head>
        <title>Hitster</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            html{
                scroll-behavior: smooth;
                scroll-padding-top: 110px;
            }
            a{
                color: darkgray;
            }
            a.link:hover{
                color: gray;
            }
            a:hover{
                color: darkgray;
            }
        </style>
    </head>
    <body style="text-align: center; padding: 10%">
        <header style="line-height: 80px; position: fixed;">
            <h1 style="line-height: 80px">✨HITSTER!✨</h1>
        </header>
        <main style="padding-top: 80px">
            <p style="font-weight: 400; font-size: 40pt;">
                <a class="link" href="/next">NEXT</a>&nbsp;&Tab;&nbsp;
                <details style="display: inline; font-size: 40pt">
                    <summary>Veröffentlicht am</summary>
                    <a><%= year %></a>
                </details>
            </p>
        </main>
        <footer>

        </footer>
    </body>
</html>